.heading{
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}

.AnswerInput{
  width: 60px;
  border: none;
}

.nextButton{
  right: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 20px;
}